.message-page {
    padding: 20px;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .search-container {
        width: 50%;
        margin-bottom: 1rem;
    }

    .date-filter-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        
        input,
        select {
            width: auto;
            margin-right: 10px;
        }
    }

    .table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #39a17a;
            font-weight: bold;
            text-align: center;
        }

        td {
            font-size: 1rem;
            color: #0f4b35;
            font-weight: 400;

            &:nth-child(1) {
                width: 15%;
            }

            &:nth-child(2) {
                width: 20%;
            }

            &:nth-child(3) {
                width: 15%;
            }

            &:nth-child(4) {
                width: 20%;
            }

            &:nth-child(5) {
                width: 25%;
            }
        }
    }

    table tr:hover {
        background-color: #39a17b47;
    }

    .delete {
        background-color: #f44336;
        padding: 5px 10px;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 90%;

        &:hover {
            background-color: #a81d13;
            transition: .4s;
        }
    }
}
.btnLFT{
    margin-left: 1rem;
    }