.mainForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.containerForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    font-size: 7rem;
    margin-bottom: 2rem;
    color: #25634c;
}

h2 {
    font-weight: 600;
    margin-bottom: .25rem;
}

.pr {
    font-size: 13px;
    margin-bottom: 1rem;
}

.formo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    border: solid 2px #25634c;
    background: #25634c;
    max-width: 100%;
}

.panel-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.backInput {
    background-color: white;
    width: 100%;
}

button {
    margin-top: 1rem;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 600px) {
    .formo {
        padding: 3rem;
        border-radius: 1.5rem;
    }
}

@media (min-width: 768px) {
    .formo {
        padding: 4rem;
        border-radius: 2rem;
    }

    .icon {
        font-size: 8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .pr {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .formo {
        padding: 5rem;
        border-radius: 2.5rem;
    }

    .icon {
        font-size: 9rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .pr {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .formo {
        padding: 6rem;
        border-radius: 3rem;
    }

    .icon {
        font-size: 10rem;
    }

    h2 {
        font-size: 2rem;
    }

    .pr {
        font-size: 1.2rem;
    }
}
