// Table.scss

.table-page {
  padding: 20px;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .header-container,
  .filter-container,
  .action-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem;

    .form-control,
    .form-select,
    .btn {
      flex: 1 1 200px;
      /* Make all inputs the same size */
      max-width: 250px;
    }
  }

  .table {
    width: 100%;
    table-layout: fixed; // Prevent scrolling
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      overflow: hidden; // Prevent overflow
      text-overflow: ellipsis;
      white-space: nowrap; // Prevent line breaks
    }

    th {
      background-color: #39a17a;
      font-weight: bold;
      text-align: center;
    }

    tr:hover {
      background-color: #39a17b47;
    }

    th {
      text-align: center;

      &:nth-child(1) {
        width: 6%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 24%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 9%;
      }

      &:nth-child(6) {
        width: 9%;
      }

      &:nth-child(7) {
        width: 9%;
      }

      &:nth-child(8) {
        width: 13%;
      }
    }

    td {
      font-size: 1rem;
      color: #0f4b35;
      font-weight: 400;
      text-align: left;

      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 24%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 10%;
      }

      &:nth-child(6) {
        width: 10%;
      }
    }
  }

  .total-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.flex .Button {
  width: 9rem;
  height: 2.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: .75rem;
}

.SelectInpo {
  height: 2.5rem;
  position: absolute;
  top: 2rem;
  width: 5rem;
  /* margin-right: 2rem; */

}

.DivSelect {
  position: relative;
  margin-right: 6rem;
}

.action-container {
  margin-right: 2rem;
}

.flexRSB {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.inputInBar {
  width: 20rem;

}

.ID {
  padding: .25rem;
  width: 3rem;
  height: 1rem;
  background-color: #062d1f;
  font-size: .75rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.LBL {
  padding-bottom: 5px;
  font-size: 16px;
  margin: 1rem;
  color: #062d1f;
}